
body {
  background-color: rgb(243, 119, 119);
  color: black;
  padding: 20px;
  font: times;
  border: 10px;
}

.salmonPic {
  width: 100px;
  height: 40px;
}

#header-banner {
  width: 100%;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
  font-weight: bold;
  color: rgb(49, 69, 250);
  text-shadow: -1px -1px 0 rgb(59, 233, 74);
}

#headline-img {
  width: 20px;
  height: 20px;
}