body  {
  background-color: rgb(241, 241, 241);
  font: georgia;
  background-attachment: fixed;
  background-size: 100%;
  background-position: 50% 50%;
}

header {
  max-width:1000px;
  margin: auto;
  background-color:rgb(75, 69, 69);
  position: relative;
  z-index: 5;
}

header nav {
  width: 1000px;
  position: fixed;
  top: 0;
  height: 120px;
  background-color:rgb(75, 69, 69);
  border-bottom: 5px solid rgb(228, 94, 94);
  border-left: 2px solid rgb(250, 87, 87);
  border-right: 2px solid rgb(250, 87, 87);
}

header nav h1 {
  padding: 28px 0 0 30px;
  width: 100%;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: rgb(250, 87, 87);
  text-shadow: -1px -1px 0px rgb(36, 34, 34),
    1px -1px 0px rgb(27, 26, 26),
    -1px 1px 0px rgb(38, 150, 47),
    1px 1px 0px rgb(27, 26, 26);
  position: relative;
  z-index: 2;
}

header nav h2 {
  margin: 1px 0;
  padding: 0px 0 10px 30px;
  border: none;
  color: rgb(34, 145, 189);
  font-size: 16px;
  font-family: 'Rock Salt', cursive;
  z-index: 3;
}

header nav img {
  width: 200px;
  transform: scaleX(-1);
  z-index: 1;
  position: relative;
  bottom: 87px;
  left: 80px;
}

header nav li {
  display: inline;
}

#links{
  display: inline;
  position: relative;
  left: 250px;
  bottom: 75px;
}

#links li {
  padding: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background: rgb(250, 87, 87);
  color: white;
}

#social {
  display: inline;
  position: relative;
  left: 230px;
  top: 20px;
}

#social img {
  position: relative;
  transform: none;
  width: 20px;
  border: 2px solid rgb(250, 87, 87);
}

#pugetSound {
  max-width: 1000px;
  margin: auto;
  border-top: 5px solid rgb(228, 94, 94);
  border-bottom: 5px solid rgb(228, 94, 94);
  border-left: 2px solid rgb(228, 94, 94);
  border-right: 2px solid rgb(228, 94, 94);
  position: relative;
  margin-top: 120px;
}

main {
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

main h2 {
  margin: 1px 0;
  padding: 0px 0 10px 30px;
  border: none;
  color: rgb(54, 177, 64);
  font-size: 16px;
  font-family: 'Rock Salt', cursive;
  text-shadow: -1px 1px 0 rgb(61, 61, 61);
  font-weight: bold;
}

main li{
  color:rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}

#cookie-desc {
  width: 45%;
  background-color:rgb(83, 83, 83);
  border: 2px solid rgb(250, 87, 87);
  margin: 10px 18px 0 0;
}

#cookie-desc h2 {
  margin-top: 15px;
  padding: 15px 0 10px 30px;
}

#cookie-desc img {
  width: 60%;
  margin: 10px 0 10px 80px;
  box-shadow: 2px 1px #333;
}

#cookie-desc p {
  width: 90%;
  margin: auto;
  padding-bottom: 15px;
  position: relative;
  color:rgb(255, 255, 255);
}

#flavors {
  max-width: 45%;
  position: relative;
  left: 55%;
  bottom: 421px;
  border: 2px solid rgb(250, 87, 87);
  background-color: rgb(83, 83, 83);
  padding-bottom: 20px;
}

#flavors h2 {
  margin-top: 15px;
  padding-left: 20px;
  color: rgb(21, 157, 211);
}

#flavors li {
  margin-left: 30px;
  position: relative;
  bottom: 40px;
}

#flavors li img {
  width: 170px;
  margin: 0px 0 10px 30px;
  position: relative;
  top: 50px;
  box-shadow: 2px 2px #333;
}

p {
  margin: 3px 0;
  padding: 2px 0 3px 2px;
  color:rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}

#locations {
  border: 2px solid rgb(250, 87, 87);
  background-color: rgb(83, 83, 83); 
  padding: 20px 5px 30px;
  position: relative;
  bottom: 400px;
  width: 99%;
}

#locations h2 {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 0 0 20px;
}

dl {
  display: inline-block;
}

#stores {
  column-count: 5;
}

dt {
  color: rgb(16, 135, 182);
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

dd {
  color:rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 12px;
}

dd img {
  width: 100px;
  height: 90px;
  margin: 10px 0;
}

#about-us {
  width: 100%;
  height: 275px;
  position: relative;
  bottom: 385px;
  background-color:rgb(83, 83, 83); 
  border: 2px solid rgb(228, 94, 94);
}
#about-us h2{
  padding: 15px;
}

#about-us ul {
  height: 250px;
}

#about-us li {
  max-width: 30%;
  font-family: sans-serif;
}

#about-us li img {
  height: 190px;
  padding: 10px;
  margin: 0 0 0 10px;
}

#story {
  width: 300px;
  height: 190px;
  position: relative;
  left: 330px;
  bottom: 220px;
  font-size: 14px;
  line-height: 18px;
}

#family {
  position: relative;
  left: 640px;
  bottom: 418px;
}

footer {
  max-width:1000px;
  margin: auto;
  background-color:rgb(75, 69, 69);
  height: 150px;
  position: relative;
  top: 10px;
}

footer p {
  text-align: center;
  padding: 40px 0 20px;
}

footer a {
  color:rgb(16, 135, 182);
  padding: 0;
}

#merch {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color:rgb(75, 69, 69);
  border: 2px solid rgb(228, 94, 94);
  position: relative;
  bottom: 200px;
  z-index:4;
}

#merch h2 {
  font-size: 25px;
}

#merch img {
  height: 100px;
  margin: 0 20px 20px;
}

#merch p {
  position: relative;
  left: 30px;
}

#t-shirt {
  position: relative;
  left: 110px;
  top: 60px;
}

#cutter {
  position: relative;
  left: 60px;
  top: 60px;
}

#fish {
  position: relative;
  left: 80px;
  top: 60px;
}

#posters {
  position: relative;
  left: 120px;
  top: 60px;
}

#and-more {
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 200px;
  top: 40px;
}

table {
  background-color: white;
}

th {
  font-size: 18px;
  padding: 10px 8px 5px;
  background-color:rgb(255, 124, 124);
  color: white;
  font-family: 'Oswald', sans-serif;
  text-shadow: -1px -1px -7px rgb(26, 94, 182)
}

td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 15px;
}

#dailySalesData{
  position: relative;
  top: 150px;
  left: 70px;
}

#salesData {
  border: 0;
  color: rgb(0, 71, 165);
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-shadow: -1px -1px 0 rgb(110, 199, 114);
}